/**Style Sheet: Global**/
/**Tag Modifiers**/
html {
    font-family: verdana;
    color: #335576;
    background-color: #FFFFFF;
}
body {
    margin: 0;
}
/**Enable: Nav Bar-fixed position**/
header {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}
h1 {
    font-size: 2.5rem;
    font-style: bold;
}
h2 {
    width: 100%;
    font-size: 1.5rem;
    font-style: bold;
}
h3 {
    width: 100%;
    font-size: 1.5rem;
    font-style: bold;
}

    /*Remove Bullets from Lists*/
ul {
    list-style-type: none;
}
main {
    padding-top: 3%;
    margin: 0;
}
footer {
    display: flex;
    background-color: #fefaf5;
    justify-content: space-between;
    padding: 1% 15%;
}

/**Class Modifiers**/
.head__title {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0 5%;
}
.logo__link {
    color: #335576;
    text-decoration: none;
}

.nav__primary {
    display: flex;
    padding-right: 5%;
} 
.nav__item {
    display: inline-block;
    justify-content: flex-end;
    color: black;
    margin-right: 10px;
}
    /**Hover animation for Nav Links**/
.nav__item:hover {
    background-color: #DB7A4E;
    border-radius: 15px;
}
.nav__link {
    text-decoration: none;
    color: black;
    padding: 10px 5px 5px 5px;
}
.nav__link--active {
    /**Note: Tried 'text-decoration: underline' but switched to border-bottom to replicate correct spacing**/ 
    border-bottom: solid #DB7A4E 5px;
}
.footer__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: bold;
    color: #335576;
    margin: 1%;
}
.footer__box {
    padding: 1%;
}
.footer__item {
    font-size: 0.7rem;
    font-weight: 400;
    color: #DB7A4E;
}
.footer__desc {
    font-size: 1rem;
    font-weight: 400;
}
.footer__icon {
    height: 1.5em;
}